<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.essence.dao.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.essence.pojo.Collection">
    <id column="collectionId" jdbcType="VARCHAR" property="collectionid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="productId" jdbcType="VARCHAR" property="productid" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from collection
    where collectionId = #{collectionid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.essence.pojo.Collection">
    insert into collection (collectionId, userId, productId )
    values (#{collectionid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR} )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.essence.pojo.Collection">
    update collection
    set userId = #{userid,jdbcType=VARCHAR},
      productId = #{productid,jdbcType=VARCHAR}
    where collectionId = #{collectionid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select collectionId, userId, productId
    from collection
    where collectionId = #{collectionid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select collectionId, userId, productId
    from collection
  </select>
</mapper>